
h2{
    color:cornflowerblue;
  } 
  
  h1{
    color:cornflowerblue;
  }
  
  .nav-custom{
    background-color: aqua;
  }
  
  .navbar-brand{
    color: cornflowerblue;
  
  }
  
  .nav-custom{
    color: cornflowerblue;
  }
  
  
  }